In [2]:
import pymysql
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from qkids.DatabasePool import get_schedule_connection, get_course_connection,get_teacher_connection

In [26]:
conn = get_schedule_connection()
def get_free_teacher_capacity_dataframe(slot):
    rooms = get_free_teachers(slot)
    teachers = tuple(data.teacher_id)
    return get_chapter(teachers), get_room_type(teachers)
   
def get_free_teachers(slot):
#     sql  = "select r.id, schedule_id, room_type_id, course_id, lesson_id, student_count, teacher_id \
#     from schedules s join rooms r on s.id = r.schedule_id and r.status = 0 and klass_id is null \
#     and r.is_internal = 0 and ((teacher_id > 0 and student_count =0) or (teacher_id = 0 and student_count > 0)) \
#      where begin_at = %r "  % slot
    sql  = "select r.id, schedule_id, room_type_id, course_id, lesson_id, student_count, teacher_id \
        from schedules s join rooms r on s.id = r.schedule_id and r.status = 0 and klass_id is null \
        and r.is_internal = 0 and teacher_id > 0 and student_count = 0 \
         where begin_at = %r "  % slot
    return pd.read_sql(sql, get_schedule_connection(), index_col='id')

def get_chapter(teachers):
    sql = f"select teacher_id, chapter_id, status from teacher_chapter_tables where teacher_id in {str(teachers)} and status > 0"
    df = pd.read_sql(sql, get_teacher_connection())
    df = df.pivot_table(values='status', index = 'teacher_id', columns='chapter_id', fill_value=0)
    return df

def get_room_type(teachers):
    sql = f"select teacher_id, room_type, status from teacher_room_types where teacher_id in {str(teachers)} and status > 0"
    df = pd.read_sql(sql, get_teacher_connection())
    df = df.pivot_table(values='status', index = 'teacher_id', columns='room_type', fill_value=0)
    return df

### 为什么会删除房间

In [27]:
room_id = 7122459
sql = "select begin_at, schedule_id, room_type_id, lesson_id from schedules s join rooms r on s.id = r.schedule_id \
    where r.id = 7122459"
with conn.cursor() as cur:
    cur.execute(sql)
    room = cur.fetchone()
print("ROOM INFO:",room)
slot = room[0].strftime('%Y-%m-%d %H:%M:00')
print(slot)

df_chapter, df_room_type = get_free_teacher_capacity_dataframe(slot)
#
course_conn = get_course_connection()
sql = "select id, chapter_id from lessons where published = 1 and deleted_at is null"
lessons = pd.read_sql(sql, course_conn, index_col='id')
chapter_id = lessons.loc[room[3], 'chapter_id']

## 可用老师为
print('可用老师为')
t1 = df_chapter.loc[df_chapter.loc[:, chapter_id] > 0].index
t2 = df_room_type.loc[df_room_type.loc[:, room[2]] > 0].index
print(t1.intersection(t2))

ROOM INFO: (datetime.datetime(2019, 6, 3, 19, 20), 2964373, 2, 1674)
2019-06-03 19:20:00
可用老师为
Int64Index([  4293,   4630,   6316, 100190, 100644, 100840, 100947, 100953,
            101859, 101902, 102405, 102488, 102674, 103213, 103430, 103504,
            105686, 106956, 110949, 111052, 111873, 112139, 112148, 112523,
            112818, 112873, 117047, 119725, 128249],
           dtype='int64', name='teacher_id')

### 为什么这个L 没有课了

### 空闲的老师

In [5]:
sql  = "select r.id, schedule_id, room_type_id, course_id, lesson_id, student_count, teacher_id \
from schedules s join rooms r on s.id = r.schedule_id and r.status = 0 and klass_id is null \
and r.is_internal = 0 and ((teacher_id > 0 and student_count =0) or (teacher_id = 0 and student_count > 0)) \
 where begin_at = %r "  % slot
data = pd.read_sql(sql, conn)
rooms = data.loc[data['teacher_id'] == 0]

### 获取老师的chapter 和  room type

In [6]:
teacher_conn = get_teacher_connection()
tlist = str(tuple([i for i in data['teacher_id'].values if i > 0]))
sql = "select teacher_id, chapter_id, status from teacher_chapter_tables where teacher_id in {} and status > 0".format(tlist)
with teacher_conn.cursor() as cur:
    cur.execute(sql)
    chapter_records = cur.fetchall()
chapters = pd.DataFrame(columns = ('a',), dtype='int8')
for row in chapter_records:
    chapters.loc[row[0], row[1]] = int(row[2])
chapters.drop('a', axis=1,inplace=True)
    
sql = "select teacher_id, room_type, status from teacher_room_types where teacher_id in {} and status > 0".format(tlist)
with teacher_conn.cursor() as cur:
    cur.execute(sql)
    room_type_records = cur.fetchall()
roomtypes = pd.DataFrame(columns = ('a',), dtype='int8')    
for row in room_type_records:
    roomtypes.loc[row[0],row[1]] = int(row[2])
roomtypes.drop('a', axis = 1, inplace=True)

#### Lesson 数据  转chapter

In [7]:
course_conn = get_course_connection()
sql = "select id, chapter_id from lessons where published = 1 and deleted_at is null"
lessons = pd.read_sql(sql, course_conn, index_col='id')

###  房间匹配

In [8]:
def match(room_chapter, room_type):
    rt = set(roomtypes.loc[roomtypes[room_type] == 2].index.tolist())
    c = set(chapters.loc[chapters[room_chapter] == 2].index.tolist())
    print(rt&c)
    rt = set(roomtypes.loc[roomtypes[room_type] == 2].index.tolist())
    c = set(chapters.loc[chapters[room_chapter] == 1].index.tolist())
    print(rt&c)
    rt = set(roomtypes.loc[roomtypes[room_type] == 1].index.tolist())
    c = set(chapters.loc[chapters[room_chapter] == 2].index.tolist())
    print(rt&c)
    rt = set(roomtypes.loc[roomtypes[room_type] == 1].index.tolist())
    c = set(chapters.loc[chapters[room_chapter] == 1].index.tolist())
    print(rt&c)

In [9]:
for index, room in rooms.iterrows():
    chapter = lessons['chapter_id'][room['lesson_id']]
    print('-' *32)
    print("room[{}]:".format(room['id']))
    match(chapter, room['room_type_id'])

--------------------------------
room[7031682]:
set()
{4610, 104963, 102405, 526, 101395, 3604, 102419, 4630, 5654, 101912, 106521, 111643, 101405, 200224, 105508, 113188, 128036, 120871, 150052, 1066, 107563, 112683, 101933, 122926, 105524, 100919, 110135, 115767, 174136, 166972, 110653, 103998, 109631, 1089, 6211, 100420, 105541, 112195, 134211, 162377, 101965, 3155, 105046, 165979, 136285, 138846, 171618, 105575, 103016, 107111, 112235, 110189, 4718, 106606, 112750, 128621, 3191, 155256, 163450, 4219, 123003, 5755, 6782, 175233, 131722, 4747, 3213, 112269, 110740, 109205, 113301, 4759, 129177, 1690, 6810, 169113, 104603, 106153, 170666, 105645, 112814, 124077, 130734, 113329, 3764, 103093, 105141, 126646, 127669, 136372, 108730, 115898, 238262, 105663, 711, 116935, 108235, 135375, 125137, 107221, 1238, 1239, 111829, 100061, 110815, 132833, 141537, 106214, 109286, 170729, 127722, 2284, 103660, 102126, 121075, 104182, 109304, 168185, 109313, 128770, 112899, 205573, 119049, 107276, 111884, 102162, 111385, 171289, 237338, 179488, 111917, 120621, 105775, 108335, 5937, 118577, 4915, 112948, 116532, 114506, 107862, 2392, 101210, 3932, 105821, 100190, 108380, 110942, 7009, 6498, 130914, 108901, 113510, 108903, 360, 2408, 107372, 110961, 103285, 113533, 102272, 102785, 110978, 131971, 106888, 113033, 104331, 167307, 110990, 128400, 113041, 112530, 109460, 112024, 106906, 103838, 105374, 106913, 109987, 105893, 1447, 2472, 129959, 107946, 170919, 119725, 132526, 5555, 126389, 103862, 139190, 107962, 3003, 109499, 4541, 107967, 104384, 3525, 141766, 108487, 5578, 104911, 170959, 144338, 979, 110552, 101340, 109533, 101859, 106981, 108518, 999, 111079, 111081, 4586, 104943, 1521, 4083, 107507, 106486, 107511, 132602, 103931, 109053, 102399}
set()
{124943, 2064, 102417, 110607, 147493, 102444, 50, 100413, 6206, 6210, 104515, 108612, 110660, 4168, 106586, 100442, 104543, 106598, 112759, 123006, 2181, 106637, 106638, 112787, 4244, 143507, 112802, 165, 110760, 116904, 6314, 6316, 108722, 112818, 106677, 108728, 2242, 4293, 104648, 108752, 102616, 116958, 100575, 2278, 112873, 2282, 110827, 176370, 102643, 6391, 102655, 100618, 112906, 271, 102674, 4376, 106780, 102691, 112933, 114987, 117047, 4409, 104761, 121153, 106821, 110923, 6478, 112976, 121170, 151892, 102742, 115034, 106844, 121180, 104804, 100709, 106856, 113005, 108915, 104821, 104830, 6528, 102784, 110986, 104848, 121234, 106899, 119190, 111007, 102816, 113059, 106917, 100780, 2477, 111020, 113083, 108989, 100800, 102848, 106946, 119233, 108999, 106956, 2509, 111052, 109010, 4563, 111058, 109013, 109015, 129496, 4572, 104925, 123357, 100836, 111077, 100840, 113130, 503, 2558, 113162, 102934, 115225, 119325, 542, 2593, 6694, 109103, 115248, 105017, 105022, 102977, 585, 109130, 2639, 593, 100947, 109144, 100953, 115291, 115292, 100961, 4709, 113253, 109159, 113258, 113268, 631, 105087, 111237, 103047, 2696, 117384, 103053, 109199, 105105, 156313, 111259, 109214, 105129, 148139, 4782, 101042, 105143, 109244, 103118, 105168, 113364, 4821, 103128, 101081, 105176, 107232, 2785, 105189, 107240, 101113, 109305, 4862, 4863, 6913, 105218, 103173, 105228, 103189, 2839, 103197, 4898, 101156, 103211, 103213, 156461, 105269, 101178, 115530, 107339, 103244, 2893, 109387, 101199, 109390, 103252, 107348, 127833, 4956, 111455, 107362, 125805, 101231, 4976, 107377, 101237, 2942, 4990, 111494, 105354, 107403, 101259, 103316, 103320, 134044, 121759, 115619, 123819, 953, 107454, 109510, 113607, 113617, 103378, 170961, 3036, 117725, 3040, 1000, 101359, 103417, 107523, 103430, 105478, 103441, 105490, 111636, 103450, 101406, 107554, 5164, 5172, 105530, 1086, 111678, 101440, 103496, 109643, 103504, 5205, 109664, 109666, 3177, 111724, 109678, 109682, 103539, 111734, 119926, 3196, 111740, 111744, 109705, 111753, 119948, 105626, 122012, 109729, 3238, 122023, 105640, 124076, 103597, 1204, 119996, 105668, 103621, 105673, 142541, 105686, 120022, 120025, 122076, 109789, 120032, 120034, 1258, 107762, 128249, 1274, 111873, 3332, 1289, 124169, 3344, 124180, 5401, 107804, 1310, 103712, 122147, 3366, 101673, 109870, 130363, 122176, 103752, 109902, 111966, 109922, 111993, 5512, 112009, 120202, 3467, 5522, 109971, 109986, 1446, 109994, 112042, 5552, 103864, 112059, 122325, 103903, 101856, 112095, 105954, 108002, 103913, 112110, 112116, 112123, 105981, 103946, 112139, 101902, 167442, 108051, 112148, 5655, 153115, 112158, 112164, 110117, 106022, 5672, 110120, 126505, 106030, 108080, 110130, 106045, 108093, 104000, 110144, 104006, 3655, 126542, 110159, 110182, 106097, 110207, 138885, 128654, 108187, 102052, 112294, 104113, 102072, 130746, 104126, 110287, 159442, 1747, 104161, 1771, 1772, 110321, 112370, 112371, 3829, 100091, 104201, 112393, 104203, 124681, 106253, 100117, 100119, 106273, 114467, 102190, 3887, 1840, 104240, 110384, 112435, 112438, 5943, 112441, 100160, 100169, 112459, 110413, 1871, 114526, 122728, 112499, 110458, 112506, 6020, 100235, 6028, 102283, 3982, 112523, 147340, 6036, 100247, 108440, 112542, 102303, 108447, 1956, 106415, 100276, 4022, 106422, 116664, 6074, 4030, 108488, 4041, 104394, 1995, 110536, 110538, 102360, 106458, 104413, 112606, 112608, 106465, 112609, 116706, 2021, 118762, 112620, 106481, 6130, 102389, 112637, 110591}
--------------------------------
room[7031776]:
set()
{4610, 104963, 102405, 526, 101395, 3604, 102419, 4630, 5654, 101912, 106521, 111643, 101405, 200224, 105508, 113188, 128036, 120871, 150052, 1066, 107563, 112683, 101933, 122926, 105524, 100919, 110135, 115767, 174136, 166972, 110653, 103998, 109631, 1089, 6211, 100420, 105541, 112195, 134211, 162377, 101965, 3155, 105046, 165979, 136285, 138846, 171618, 105575, 103016, 107111, 112235, 110189, 4718, 106606, 112750, 128621, 3191, 155256, 163450, 4219, 123003, 5755, 6782, 175233, 131722, 4747, 3213, 112269, 110740, 109205, 113301, 4759, 129177, 1690, 6810, 169113, 104603, 106153, 170666, 105645, 112814, 124077, 130734, 113329, 3764, 103093, 105141, 126646, 127669, 136372, 108730, 115898, 238262, 105663, 711, 116935, 108235, 135375, 125137, 107221, 1238, 1239, 111829, 100061, 110815, 132833, 141537, 106214, 109286, 170729, 127722, 2284, 103660, 102126, 121075, 104182, 109304, 168185, 109313, 128770, 112899, 205573, 119049, 107276, 111884, 102162, 111385, 171289, 237338, 179488, 111917, 120621, 105775, 108335, 5937, 118577, 4915, 112948, 116532, 114506, 107862, 2392, 101210, 3932, 105821, 100190, 108380, 110942, 7009, 6498, 130914, 108901, 113510, 108903, 360, 2408, 107372, 110961, 103285, 113533, 102272, 102785, 110978, 131971, 106888, 113033, 104331, 167307, 110990, 128400, 113041, 112530, 109460, 112024, 106906, 103838, 105374, 106913, 109987, 105893, 1447, 2472, 129959, 107946, 170919, 119725, 132526, 5555, 126389, 103862, 139190, 107962, 3003, 109499, 4541, 107967, 104384, 3525, 141766, 108487, 5578, 104911, 170959, 144338, 979, 110552, 101340, 109533, 101859, 106981, 108518, 999, 111079, 111081, 4586, 104943, 1521, 4083, 107507, 106486, 107511, 132602, 103931, 109053, 102399}
set()
{124943, 2064, 102417, 110607, 147493, 102444, 50, 100413, 6206, 6210, 104515, 108612, 110660, 4168, 106586, 100442, 104543, 106598, 112759, 123006, 2181, 106637, 106638, 112787, 4244, 143507, 112802, 165, 110760, 116904, 6314, 6316, 108722, 112818, 106677, 108728, 2242, 4293, 104648, 108752, 102616, 116958, 100575, 2278, 112873, 2282, 110827, 176370, 102643, 6391, 102655, 100618, 112906, 271, 102674, 4376, 106780, 102691, 112933, 114987, 117047, 4409, 104761, 121153, 106821, 110923, 6478, 112976, 121170, 151892, 102742, 115034, 106844, 121180, 104804, 100709, 106856, 113005, 108915, 104821, 104830, 6528, 102784, 110986, 104848, 121234, 106899, 119190, 111007, 102816, 113059, 106917, 100780, 2477, 111020, 113083, 108989, 100800, 102848, 106946, 119233, 108999, 106956, 2509, 111052, 109010, 4563, 111058, 109013, 109015, 129496, 4572, 104925, 123357, 100836, 111077, 100840, 113130, 503, 2558, 113162, 102934, 115225, 119325, 542, 2593, 6694, 109103, 115248, 105017, 105022, 102977, 585, 109130, 2639, 593, 100947, 109144, 100953, 115291, 115292, 100961, 4709, 113253, 109159, 113258, 113268, 631, 105087, 111237, 103047, 2696, 117384, 103053, 109199, 105105, 156313, 111259, 109214, 105129, 148139, 4782, 101042, 105143, 109244, 103118, 105168, 113364, 4821, 103128, 101081, 105176, 107232, 2785, 105189, 107240, 101113, 109305, 4862, 4863, 6913, 105218, 103173, 105228, 103189, 2839, 103197, 4898, 101156, 103211, 103213, 156461, 105269, 101178, 115530, 107339, 103244, 2893, 109387, 101199, 109390, 103252, 107348, 127833, 4956, 111455, 107362, 125805, 101231, 4976, 107377, 101237, 2942, 4990, 111494, 105354, 107403, 101259, 103316, 103320, 134044, 121759, 115619, 123819, 953, 107454, 109510, 113607, 113617, 103378, 170961, 3036, 117725, 3040, 1000, 101359, 103417, 107523, 103430, 105478, 103441, 105490, 111636, 103450, 101406, 107554, 5164, 5172, 105530, 1086, 111678, 101440, 103496, 109643, 103504, 5205, 109664, 109666, 3177, 111724, 109678, 109682, 103539, 111734, 119926, 3196, 111740, 111744, 109705, 111753, 119948, 105626, 122012, 109729, 3238, 122023, 105640, 124076, 103597, 1204, 119996, 105668, 103621, 105673, 142541, 105686, 120022, 120025, 122076, 109789, 120032, 120034, 1258, 107762, 128249, 1274, 111873, 3332, 1289, 124169, 3344, 124180, 5401, 107804, 1310, 103712, 122147, 3366, 101673, 109870, 130363, 122176, 103752, 109902, 111966, 109922, 111993, 5512, 112009, 120202, 3467, 5522, 109971, 109986, 1446, 109994, 112042, 5552, 103864, 112059, 122325, 103903, 101856, 112095, 105954, 108002, 103913, 112110, 112116, 112123, 105981, 103946, 112139, 101902, 167442, 108051, 112148, 5655, 153115, 112158, 112164, 110117, 106022, 5672, 110120, 126505, 106030, 108080, 110130, 106045, 108093, 104000, 110144, 104006, 3655, 126542, 110159, 110182, 106097, 110207, 138885, 128654, 108187, 102052, 112294, 104113, 102072, 130746, 104126, 110287, 159442, 1747, 104161, 1771, 1772, 110321, 112370, 112371, 3829, 100091, 104201, 112393, 104203, 124681, 106253, 100117, 100119, 106273, 114467, 102190, 3887, 1840, 104240, 110384, 112435, 112438, 5943, 112441, 100160, 100169, 112459, 110413, 1871, 114526, 122728, 112499, 110458, 112506, 6020, 100235, 6028, 102283, 3982, 112523, 147340, 6036, 100247, 108440, 112542, 102303, 108447, 1956, 106415, 100276, 4022, 106422, 116664, 6074, 4030, 108488, 4041, 104394, 1995, 110536, 110538, 102360, 106458, 104413, 112606, 112608, 106465, 112609, 116706, 2021, 118762, 112620, 106481, 6130, 102389, 112637, 110591}

### 需要扩充的schedule

In [10]:
sql  = "select schedule_id, room_type_id, course_id, lesson_id \
from schedules s join rooms r on s.id = r.schedule_id and r.status = 0 and klass_id is null \
and r.is_internal = 0 where begin_at = %r group by schedule_id having sum(max_student_count) = \
sum(student_count)"  % slot
df = pd.read_sql(sql, conn)

In [11]:
for index, row in df.iterrows():
    chapter = lessons['chapter_id'][row['lesson_id']]
    print('-' *32)
    print("Schedule[{}]:".format(row['schedule_id']))
    match(chapter, row['room_type_id'])

--------------------------------
Schedule[2907662]:
{111873, 110949, 112873, 112139, 111052, 112523, 112818, 112148, 117047, 128249}
set()
set()
set()