In [2]:
import pandas as pd
import numpy as np

In [3]:
s5 = pd.Series([1, 1, 3, 3, 3, 5, 5, 7, 7, 7,7])

In [7]:
s5.mode().array

<PandasArray>
[7]
Length: 1, dtype: int64

In [18]:
s5.quantile(0.25)

3.0

In [12]:
arr = np.random.randn(30)
factor = pd.qcut(arr, [0, .5, .75, 1])
factor

[(0.112, 1.011], (-2.568, 0.112], (0.112, 1.011], (1.011, 1.9], (0.112, 1.011], ..., (1.011, 1.9], (-2.568, 0.112], (-2.568, 0.112], (-2.568, 0.112], (1.011, 1.9]]
Length: 30
Categories (3, interval[float64]): [(-2.568, 0.112] < (0.112, 1.011] < (1.011, 1.9]]

In [13]:
factor.value_counts()

(-2.568, 0.112]    15
(0.112, 1.011]      7
(1.011, 1.9]        8
dtype: int64

In [14]:
def extract_city_name(df):
    df['city_name'] = df['city_and_code'].str.split(",").str.get(0)
    return df
def add_country_name(df, country_name=None):
    col = 'city_name'
    df['city_and_country'] = df[col] + country_name
df_p = pd.DataFrame({'city_and_code': ['Chicago, IL']})

In [15]:
(df_p.pipe(extract_city_name).pipe(add_country_name, country_name="US"))

In [17]:
df_p

  city_and_code city_name city_and_country
0   Chicago, IL   Chicago        ChicagoUS

In [21]:
s = pd.Series(np.random.randn(6), index=['a', 'b', 'c', 'd', 'e', 'f'])

In [22]:
s1 = s[[0,3,5]]

In [24]:
s1['g'] = 23

In [26]:
s1

a    -0.757358
d    -0.776895
f    -0.900408
g    23.000000
dtype: float64

In [30]:
s1.reindex(s.index)

a   -0.757358
b         NaN
c         NaN
d   -0.776895
e         NaN
f   -0.900408
dtype: float64

In [31]:
s1.reindex(s.index, method='ffill')

a   -0.757358
b   -0.757358
c   -0.757358
d   -0.776895
e   -0.776895
f   -0.900408
dtype: float64

In [32]:
 s = pd.Series(pd.date_range('20200101 09:10:12', periods=4))

In [33]:
s

0   2020-01-01 09:10:12
1   2020-01-02 09:10:12
2   2020-01-03 09:10:12
3   2020-01-04 09:10:12
dtype: datetime64[ns]

In [35]:
s.dt.tz_localize('Asia/Shanghai')

0   2020-01-01 09:10:12+08:00
1   2020-01-02 09:10:12+08:00
2   2020-01-03 09:10:12+08:00
3   2020-01-04 09:10:12+08:00
dtype: datetime64[ns, Asia/Shanghai]