In [1]:
import pandas as pd
#import numpy as np
#from scipy import linalg
import sys
import os
from qkids import Week
from qkids.DatabasePool import get_schedule_connection
sys.path.append("..")
#from schedule.DataFarm import DataFarm
import matplotlib.pyplot as plt
from schedule.Lesson import DataFrameLesson as Lesson

In [29]:
week = Week().get_previous_week()
sql = "select begin_at, lesson_id, schedule_id, room_type_id as roomtype, sum(student_count) student, \
        sum(max_student_count) max_student from schedules s join rooms r on s.id = r.schedule_id and \
        klass_id is null and status = 1 and r.is_internal = 0 where begin_at in {} and room_type_id \
        in (2,5) group by schedule_id".format(week.slots_sqlstring)
df = pd.read_sql(sql, get_schedule_connection())
lesson = Lesson()
df['course'] = df.lesson_id.apply(lesson.get_course_by_lesson)
df

,begin_at,lesson_id,schedule_id,roomtype,student,max_student,course
0,2019-05-04 09:20:00,131,421246,2,3.0,4.0,5
1,2019-05-04 18:40:00,131,421267,5,2.0,2.0,5
2,2019-05-05 19:20:00,131,421270,5,2.0,2.0,5
3,2019-05-04 20:00:00,131,421278,2,4.0,4.0,5
4,2019-05-05 20:40:00,131,421282,2,4.0,4.0,5
5,2019-04-29 19:20:00,76,2534956,2,8.0,8.0,2
6,2019-05-01 19:20:00,78,2534957,2,10.0,12.0,2
7,2019-05-03 19:20:00,79,2534958,2,5.0,8.0,2
8,2019-04-29 19:20:00,178,2582032,2,4.0,4.0,4
9,2019-05-01 19:20:00,179,2582033,2,1.0,4.0,4
10,2019-05-03 19:20:00,180,2582034,2,2.0,4.0,4
11,2019-04-29 18:40:00,116,2588757,2,3.0,4.0,2
12,2019-05-01 18:40:00,117,2588758,2,2.0,4.0,2
13,2019-05-03 18:40:00,118,2588759,2,4.0,4.0,2
14,2019-04-29 19:20:00,159,2588760,2,4.0,4.0,3
15,2019-05-01 19:20:00,160,2588761,2,7.0,8.0,3
16,2019-05-03 19:20:00,161,2588762,2,4.0,8.0,3
17,2019-04-29 18:40:00,50,2588763,2,8.0,8.0,1
18,2019-05-01 18:40:00,51,2588764,2,5.0,8.0,1
19,2019-05-03 18:40:00,52,2588765,2,8.0,8.0,1
20,2019-04-29 19:20:00,113,2588766,2,4.0,4.0,2
21,2019-05-01 19:20:00,114,2588767,2,2.0,4.0,2
22,2019-05-03 19:20:00,115,2588768,2,4.0,4.0,2
23,2019-04-29 19:20:00,244,2588769,2,3.0,4.0,3
24,2019-05-01 19:20:00,245,2588770,2,1.0,4.0,3
25,2019-04-29 19:20:00,75,2588772,2,16.0,16.0,2
26,2019-05-01 19:20:00,76,2588773,2,7.0,8.0,2
27,2019-05-03 19:20:00,78,2588774,2,11.0,12.0,2
28,2019-04-29 19:20:00,78,2588775,2,8.0,8.0,2
29,2019-05-01 19:20:00,79,2588776,2,3.0,8.0,2
...,...,...,...,...,...,...,...
19083,2019-05-05 18:40:00,136,2643521,2,4.0,4.0,6
19084,2019-05-05 20:40:00,137,2643522,2,4.0,4.0,6
19085,2019-04-29 20:40:00,342,2643638,5,1.0,2.0,6
19086,2019-05-04 19:20:00,473,2643641,2,4.0,4.0,8
19087,2019-05-04 10:40:00,346,2643643,2,2.0,4.0,6
19088,2019-05-04 11:20:00,347,2643644,2,0.0,4.0,6
19089,2019-05-03 18:40:00,621,2643645,5,1.0,2.0,10
19090,2019-05-05 18:40:00,622,2643646,5,1.0,2.0,10
19091,2019-04-30 18:40:00,311,2643649,5,2.0,2.0,5
19092,2019-05-05 20:00:00,318,2651514,2,3.0,4.0,6
19093,2019-05-01 19:20:00,321,2699746,5,1.0,2.0,6
19094,2019-05-04 08:40:00,322,2699747,5,1.0,2.0,6
19095,2019-04-30 20:00:00,348,2699752,5,1.0,2.0,6
19096,2019-05-02 20:40:00,664,2699753,5,1.0,2.0,10
19097,2019-05-05 18:40:00,325,2699829,2,1.0,4.0,6
19098,2019-05-02 20:00:00,521,2699830,5,1.0,2.0,9
19099,2019-05-03 20:00:00,522,2699831,5,1.0,2.0,9
19100,2019-05-05 20:40:00,546,2699837,5,1.0,2.0,9
19101,2019-05-01 18:40:00,388,2699840,5,2.0,2.0,7
19102,2019-05-03 18:40:00,389,2699841,5,1.0,2.0,7
19103,2019-05-05 20:40:00,471,2699905,2,4.0,4.0,8
19104,2019-05-04 09:20:00,588,2699918,2,1.0,4.0,10
19105,2019-05-01 20:40:00,366,2699922,5,1.0,2.0,7
19106,2019-05-02 20:40:00,367,2699927,5,2.0,2.0,7
19107,2019-05-03 20:40:00,368,2699953,5,1.0,2.0,7
19108,2019-05-04 20:40:00,369,2699955,5,2.0,2.0,7
19109,2019-05-03 19:20:00,1089,2702372,5,1.0,2.0,11
19110,2019-05-04 08:40:00,1090,2702399,5,1.0,2.0,11
19111,2019-05-04 18:40:00,414,2704857,2,3.0,4.0,7
19112,2019-05-05 20:40:00,436,2704918,5,1.0,2.0,5

### 课程 * 版型  满班率

In [30]:
c = df.groupby(['course', 'roomtype']).sum()
c['rate'] = c.student/c.max_student
d = c.rate.unstack(level=1)
d.columns = ['4人班','2人班']
d

             4人班       2人班
course
1       0.924495  0.819661
2       0.916440  0.830031
3       0.877533  0.810658
4       0.834579  0.751656
5       0.736040  0.727027
6       0.702708  0.670270
7       0.632859  0.628440
8       0.631538  0.613402
9       0.551247  0.583333
10      0.502446  0.508621
11      0.425455  0.500000
14      0.939271  0.758621
15      0.835552  0.707143
43      0.975668       NaN

### 时间段满班率

In [38]:
e = df.groupby(['begin_at', 'course']).sum()

In [41]:
e['rate'] = e.student/e.max_student
e.rate.unstack(level=1)

course,1,2,3,4,5,6,7,8,9,10,11,14,15,43
begin_at,,,,,,,,,,,,,,
2019-04-29 18:40:00,0.972131,0.955078,0.915865,0.826087,0.758475,0.550000,0.569149,0.454545,0.406250,0.367925,0.300000,0.976744,0.870968,0.985000
2019-04-29 19:20:00,0.984300,0.971963,0.931507,0.929752,0.829114,0.655844,0.632812,0.593220,0.500000,0.333333,0.406250,0.981884,0.908537,0.964844
2019-04-29 20:00:00,0.981203,0.983165,0.968447,0.943089,0.852632,0.721591,0.683824,0.564286,0.601852,0.636364,0.350000,0.980989,0.970238,0.981884
2019-04-29 20:40:00,0.971366,0.969048,0.958065,0.934109,0.816667,0.771739,0.686813,0.635135,0.556338,0.500000,0.318182,0.977011,0.898305,0.972727
2019-04-30 18:40:00,0.932343,0.901210,0.916244,0.830065,0.676471,0.608491,0.505882,0.567073,0.391304,0.426829,0.295455,0.948925,0.852564,0.973214
2019-04-30 19:20:00,0.945578,0.962209,0.922170,0.834416,0.722772,0.686869,0.523810,0.625000,0.491525,0.511111,0.442308,0.966912,0.911111,0.977273
2019-04-30 20:00:00,0.975669,0.945338,0.956897,0.916149,0.847222,0.796117,0.687500,0.724359,0.666667,0.560000,0.321429,0.964000,0.885714,0.977528
2019-04-30 20:40:00,0.960630,0.961066,0.968586,0.947853,0.836066,0.794737,0.831461,0.753521,0.618056,0.613208,0.590909,0.952381,0.915493,0.973333
2019-05-01 18:40:00,0.762918,0.821429,0.725877,0.678125,0.531496,0.539604,0.401163,0.500000,0.345455,0.340426,0.328571,0.779412,0.791667,NaN
2019-05-01 19:20:00,0.846491,0.842448,0.814176,0.722892,0.614407,0.578947,0.506579,0.536765,0.348684,0.387500,0.338235,0.867958,0.764045,NaN
2019-05-01 20:00:00,0.924829,0.909471,0.880769,0.849693,0.738281,0.734783,0.662791,0.568966,0.470149,0.523256,0.400000,0.876652,0.881579,NaN
2019-05-01 20:40:00,0.890566,0.919149,0.908879,0.923977,0.836283,0.731132,0.713542,0.647619,0.582353,0.555556,0.391304,0.911504,0.841667,NaN
2019-05-02 18:40:00,0.835987,0.808429,0.745192,0.706897,0.630631,0.515957,0.460227,0.378571,0.373134,0.280000,0.454545,0.922414,0.714286,NaN
2019-05-02 19:20:00,0.864055,0.854972,0.785156,0.721212,0.644144,0.625000,0.462500,0.571429,0.402778,0.434211,0.525000,0.908297,0.797753,NaN
2019-05-02 20:00:00,0.897059,0.915152,0.875984,0.821429,0.775424,0.698113,0.586207,0.594444,0.493333,0.550847,0.464286,0.950495,0.804054,NaN
2019-05-02 20:40:00,0.916327,0.920732,0.893868,0.904494,0.837607,0.785714,0.650000,0.682692,0.707547,0.634615,0.600000,0.937500,0.773438,NaN
2019-05-03 18:40:00,0.875000,0.848881,0.787500,0.698052,0.635593,0.567010,0.416667,0.491667,0.553571,0.441176,0.357143,0.900000,0.728571,NaN
2019-05-03 19:20:00,0.916449,0.865385,0.808370,0.802632,0.709091,0.670330,0.530488,0.548611,0.608696,0.451613,0.500000,0.932609,0.760563,NaN
2019-05-03 20:00:00,0.930000,0.935937,0.924180,0.869048,0.803279,0.707921,0.709677,0.698630,0.685185,0.618421,0.714286,0.951777,0.880597,NaN
2019-05-03 20:40:00,0.927928,0.937759,0.899123,0.889222,0.788136,0.769231,0.750000,0.712644,0.651515,0.683333,0.625000,0.952586,0.809524,NaN
2019-05-04 08:40:00,0.806548,0.764865,0.724432,0.641304,0.530303,0.506494,0.413793,0.500000,0.633333,0.454545,0.357143,0.836842,0.637255,NaN
2019-05-04 09:20:00,0.780093,0.741294,0.630814,0.596154,0.474747,0.460000,0.459459,0.500000,0.500000,0.428571,0.357143,0.850877,0.568627,NaN
2019-05-04 10:00:00,0.714286,0.730047,0.661765,0.521739,0.488636,0.450980,0.574074,0.432432,0.617647,0.433333,0.375000,0.870536,0.666667,NaN
2019-05-04 10:40:00,0.773050,0.736220,0.604839,0.539326,0.419118,0.526316,0.460000,0.568182,0.482143,0.375000,0.291667,0.902597,0.689655,NaN
2019-05-04 11:20:00,0.823810,0.754032,0.697917,0.557692,0.544444,0.479167,0.576923,0.470588,0.357143,0.277778,0.250000,0.890909,0.583333,NaN
2019-05-04 18:40:00,0.969484,0.963889,0.902597,0.800847,0.655405,0.877778,0.750000,0.730769,0.611111,0.472222,0.318182,0.987903,0.769841,NaN
2019-05-04 19:20:00,0.975962,0.974138,0.929412,0.895349,0.811111,0.836207,0.840000,0.825000,0.925000,0.384615,0.473684,0.984940,0.843750,NaN
2019-05-04 20:00:00,0.984848,0.974000,0.952880,0.938931,0.847059,0.958333,0.901515,0.885135,0.776596,0.581395,0.535714,0.966216,0.916667,NaN
2019-05-04 20:40:00,0.970443,0.972906,0.968750,0.923077,0.865000,0.907143,0.929825,0.860000,0.775000,0.631579,0.666667,0.963303,0.811321,NaN
2019-05-05 18:40:00,0.981771,0.990625,0.982759,0.963158,0.894737,0.950980,0.852941,0.883333,0.657895,0.684211,1.000000,0.974490,0.950000,NaN
2019-05-05 19:20:00,0.988014,0.991071,0.982639,0.989691,0.960526,0.970000,0.952381,0.921875,0.875000,0.583333,0.718750,0.975352,1.000000,NaN
2019-05-05 20:00:00,0.991883,0.985782,0.979452,0.991228,0.958333,0.988372,0.989130,0.897727,0.870370,0.818182,0.333333,0.980916,0.981481,NaN
2019-05-05 20:40:00,0.975000,0.988372,0.988806,0.947368,0.953488,0.986486,0.959459,0.883333,0.705128,0.833333,0.525000,0.984375,0.968085,NaN